
/* Stile della navbar */
.navbar {
    background-color: #ffffff; /* Colore di sfondo chiaro */
    border-bottom: 2px solid #ddd; /* Sottile bordo inferiore */
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-collapse{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* Stile del brand/logo */
.navbar-brand {
    font-weight: bold;
    color: #007bff; /* Colore del logo */
    font-size: 2.3rem;
}

.navbar-brand:hover {
    color: #0056b3; /* Colore del logo al passaggio */
}

/* Stile dei link di navigazione */
.navbar-nav .nav-item .nav-link {
    color: #333; /* Colore del testo dei link */
    margin-right: 15px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-item {
    font-size: 1.5rem;
}

/* Stile di base per i link di navigazione */
.navbar-nav .nav-item .nav-link {
    color: #333;
    transition: color 0.3s;
}

/* Stile per l'elemento attivo */
.navbar-nav .nav-item.active .nav-link {
    color: #007bff; /* Colore dell'elemento attivo */
    font-weight: bold;
}

/* Stile per gli elementi inattivi */
.navbar-nav .nav-item:not(.active) .nav-link {
    color: #333;
}


/* Stile per il form di ricerca */
.form-inline .form-control {
    border-radius: 20px; /* Arrotondamento input */
    padding: 5px 15px;
}

.form-inline .btn-outline-success {
    color: #007bff;
    border-color: #007bff;
    border-radius: 20px;
    padding: 5px 15px;
}

.form-inline .btn-outline-success:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #0056b3;
}

/* Stile per il bottone di toggle */
.navbar-toggler {
    border-color: #ddd;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23333'%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
